a<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recruiter Profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles_form.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="/assets/css/jquery.tag-editor.css">
<style media="screen">
  div.container.formnav{
    margin-top: 50px;
  }
  div.upload{
    margin-bottom: 30px;
  }
div.container.formnav{
  margin-top: 50px;
}
.tag-editor .tag-editor-tag {
    padding-left: 5px;
    color: white;
    background: #e74c3c;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
}
.tag-editor .tag-editor-delete {
      background: #e74c3c;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    padding-left: 3px;
    padding-right: 4px;
}
.tag-editor .tag-editor-delete i::before {
    font-size: 16px;
    color: white;
    content: "×";
    font-style: normal;
}

</style>

</head>
<body>
    <div class="container formnav">
        <ul class="nav nav-pills">
            <li ><a href="/user/admin">Create Recruiter Profile</a></li>
            <li><a href="/user/admin/adminView">View Recruiters Profile</a></li>
            <li ><a href="/user/admin/registeredStudents">Registered Students</a></li>
            <li class="active"><a href="/user/admin/adminEvent">Add Event | Achievement</a></li>
            <li ><a href="/user/admin/registeredEvent">Delete Event</a></li>
            <li class="navbar-right"><a href="/logout">
  Sign out<i style="margin-left:4px;font-size:1.4em;vertical-align:middle;" class="fa fa-sign-out"></i></a>
              </li>
        </ul>
        <br>
        <form method="POST" enctype="multipart/form-data">
            <h4>Add an Event & Fill it's Details:</h4>
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control" type="text" name="event[caption]" placeholder="Event Name/Caption">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea name="event[shortDescript]" class="form-control" rows="2" cols="80" placeholder="Enter Short Description Here"></textarea>
                </div>
                <div style="margin-top:12px;" class="col-md-12">
                    <textarea name="event[eventDetail]" class="form-control" rows="8" cols="80" placeholder="Enter Details Here"></textarea>
                </div>
                <div class="col-md-12">
                    <h5>Add Event Date:</h5>
                    <input class="form-control" type="date" name="event[eventDate]" placeholder="abc@xyz.com">
                </div>

                <div class="col-md-12">
            <p>*Upload Jpeg image :</p>
            <input type="file" class="uploadbutton" name="img" >
            <button style="margin-top:20px;" class="btn btn-primary" type="submit" >Save </button>
        </div>
        </form>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.caret.min.js"></script>
    <script src="/assets/js/jquery.tag-editor.js"></script>
    <script type="text/javascript">

    $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
      if(e.which == 13) {
        e.preventDefault();
        return false;
      }
    });
    $('.recruitskillTag').tagEditor({
        delimiter: ', ', /* space and comma */
        placeholder: 'e.g.,C++,Android etc'
    });
    
    </script>
</body>

</html>
