<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell Division System</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Header.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
    /* Styling the para-text  */
    p.feature_ptext{
      color: white;
    }
    /* Styling the container of subscribe div */
    div.container-fluid.subscribe{
      background: url("assets/img/ian-schneider-66374.jpg");
      height: 400px;
      width: 100%;
      object-fit: fill ;
      background-size: cover;
      background-repeat: no-repeat;
    }
    /* Styling the mid body */
    div.container.mid{
      width: 100%;
    }
    .foot{
      color: #2b2b2b;
    }
    body{
      white;
      font-family: 'Roboto', sans-serif;
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
    button.btn.btn-primary.sendemail{
      border: none;
      border-radius:  6px;
    }
    </style>

</head>
<body>
  <!-- navbar started ! -->
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href=""> <a class="navbar-brand"></a><img style="height:40px;" src="assets/img/logo_chitkara_black.png" alt="Chitkara Universiry"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="login">LogIn </a></li>
                    <li role="presentation"><a href="signup">SignUp </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar finished! -->
    <!-- Header - jumbotron started -->
    <div class="header_jumbotron">
        <div class="jumbotron">
            <h1 class="text-right">Placement Cell Division</h1>
            <p class="text-right">#Explore Your Potential</p>
            <p class="text-right link">Learn More </p>
            <p></p>
        </div>
    </div>
    <!-- Header jumbotron finishes -->
    <!-- mid body text started -->
    <h1>Top <span style="color:red;">Campus Recruiters</span></h1>
    <hr>
    <div class="container-fluid with_para para">
        <p>Our Engineering graduates go on to great careers, we’re hands on and responsive in our teaching,&nbsp;we provide a great environment to study and our research is world class.&nbsp;We have established an unassailable reputation for&nbsp;very strong
            on-campus recruitments on the sheer virtue of our intensive focus on making all&nbsp;our graduates “industry ready”, but brilliant campus recruitment is a end result of our teaching approach&nbsp;which is learning-centric enhancing knowledge,
            &nbsp;skills, and understanding through&nbsp;practical experience. </p>
    </div>
    <div>
      <!-- Placment Logo grid started -->
        <div class="container placementlogo">
            <div class="row">
                <div class="col-lg-11 col-md-12"><img src="assets/img/texas.jpg"><img src="assets/img/wipro.jpg"><img src="assets/img/voda.jpg"><img src="assets/img/taj.jpg"><img src="assets/img/sap.jpg"><img src="assets/img/pepsico.jpg"><img src="assets/img/oracle.jpg"><img src="assets/img/nvidia.jpg">
                    <img
                    src="assets/img/microsoft.jpg"><img src="assets/img/mahindra.jpg"><img src="assets/img/mahindra_2.jpg"><img src="assets/img/lt.jpg"><img src="assets/img/ITC.jpg"><img src="assets/img/infosys.jpg"><img src="assets/img/hdfc.jpg"><img src="assets/img/ibm.jpg"><img src="assets/img/hindus.jpg">
                        <img
                        src="assets/img/hcl.jpg"><img src="assets/img/google.jpg"><img src="assets/img/fortis.jpg"><img src="assets/img/dell.jpg"><img src="assets/img/accent.jpg"><img src="assets/img/airtel.jpg"><img src="assets/img/citibank.jpg"></div>
            </div>
        </div>
    </div>
    <!-- mid body text & placment logo grid finished -->
    <!-- feature container started -->
    <div class="container mid">
        <h1 class="feature_text">Features </h1>
        <div class="row feature">
            <div class="col-md-4 item"><i  class="fa fa-pencil item"></i>
                <h1 class="feature_text featurehead spacefeature">Various Aspects</h1>
                <p class="feature_ptext para">Easily edit your details for company recognition  </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-gamepad item"></i>
                <h1 class="feature_text featurehead spacefeature">Build Up Project Portfolio </h1>
                <p class="feature_ptext para">List out the technology you used.Your special projects.Show off your skills </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-cloud-upload item"></i>
                <h1 class="feature_text featurehead spacefeature">Upload Your Resume</h1>
                <p class="feature_ptext para">Upload your resume.Leave the hassle of submitting Hard copies and ceritificates to Mentor.</p>
            </div>
        </div>
    </div>
    <!-- Button to learn more about the featuring content -->
    <div class="container-fluid subscribe ">

    </div>
    <!-- feature container finished -->
    <!-- footer body started -->
    <div class="container-fluid">
        <div class="small_dev spacefeature">
            <div class="row">
                <div class="col-md-6" style="padding-left:50px;"><img src="assets/img/logo_chitkara_black.png" width="150" height="40"></div>
                <div class="col-md-6" style="text-align:center;">
                    <div class="row">
                        <div class="col-md-1"><i class="fa fa-facebook foot"></i></div>
                        <div class="col-md-1"><i class="fa fa-twitter foot"></i></div>
                        <div class="col-md-1"><i class="fa fa-linkedin-square foot"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <p style="font-size:12px;padding-bottom:10px;">© 2018 Chitkara University . All right reserved</p>
    </div>
    <!-- footer body finished -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
