<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter your Details</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles_form.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="/assets/css/jquery.tag-editor.css">
<style media="screen">
  div.container.formnav{
    margin-top: 50px;
  }
  div.upload{
    margin-bottom: 30px;
  }
div.container.formnav{
  margin-top: 50px;
}
.tag-editor .tag-editor-tag {
    padding-left: 5px;
    color: white;
    background: #e74c3c;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
}
.tag-editor .tag-editor-delete {
      background: #e74c3c;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    padding-left: 3px;
    padding-right: 4px;
}
.tag-editor .tag-editor-delete i::before {
    font-size: 16px;
    color: white;
    content: "×";
    font-style: normal;
}
button.viewButton{
  font-size: 1.4em;
  border: none;
  background-color: transparent;
}
button.viewButton:hover{
  color: #e74c3c;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
<script>
 function check(){
    var tenthObt=document.getElementById("edu10CgpaObt").value;
    var tenthMax=document.getElementById("edu10CgpaMax").value;
    var twelthObt=document.getElementById("edu12CgpaObt").value;
    var twelthMax=document.getElementById("edu12CgpaMax").value;
    var gradObt=document.getElementById("eduGradCgpaObt").value;
    var gradMax=document.getElementById("eduGradCgpaMax").value;
    if(Number(tenthObt)>Number(tenthMax)){
        alert("10th Marks/CGPA can't exceed maximum marks.Please enter correct marks!");
        
        document.getElementById("edu10CgpaMax").focus();
        return false;
        
    }else if(Number(twelthObt)>Number(twelthMax)){
        alert("12th Marks Marks/CGPA can't exceed maximum marks.Please enter correct marks!");
        document.getElementById("edu12CgpaMax").focus();
        return false;
    }else if(Number(gradObt)>Number(gradMax)){
        alert("Graduation Marks/CGPA can't exceed maximum marks.Please enter correct marks!");
        document.getElementById("eduGradCgpaMax").focus();
        return false;
    }
     else{
         return true;
     }
 };
    
</script>
</head>
<body>
    <div class="container formnav">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">Edit Details</a></li>
            <li><a href="userView">View Application</a></li>
            <li class="navbar-right"><a href="/logout">Sign Out
              <i style="margin-left:4px;font-size:1.4em;vertical-align:middle;" class="fa fa-sign-out"></i></a>
              <!-- <div class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropup
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->


            </li>
        </ul>
        <br>
        <form method="POST" onsubmit="return check()" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-md-4">
                <select class="form-control" name="student[dept]" required >
                        <option value="CSE" selected >CSE</option>
                        <option value="HM" >HM</option>
                        <option value="BSC">BSC</option>
                    </select>
                </div>
                <div class="col-md-4">
                <select class="form-control" name="student[session]" required >
                        <option value="2015" >2015</option>
                        <option value="2016" selected >2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
                
            </div>
                        <h4>Roll No:</h4>
            <div class="row">
            <div class="col-md-4">
            <%    student.forEach(function(stu){ %>
               
                    <input class="form-control" type="number" name="student[rollNo]"  value="<%=stu.rollNo%>" placeholder="First Name"disabled>
                </div>
                </div>
            <h4>Personal Details</h4>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[firstName]" value="<%=stu.firstName%>" placeholder="First Name" disabled>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[midName]"  value="<%=stu.midName%>" placeholder="Middle Name"disabled>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[lastName]" value="<%=stu.lastName%>" placeholder="Last Name" disabled>
                </div>
            </div>
              <%  }); %>
            <div class="row">
                <div class="col-md-4">
                    <h5>Mobile No: (10-Digit) <span style="color:red;">*</span></h5>
                    <input class="form-control" type="text" name="student[mobileNo]"  maxlength="10" pattern="[1-9]{1}[0-9]{9}" placeholder="Enter 10 Digit Mobile Number">
                </div>
                <div class="col-md-4">
                    <h5>Gender: <span style="color:red;">*</span></h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="student[gender]" class="gender-list" value="Female">Female</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="student[gender]" class="gender-list" value="Male">Male</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="student[gender]" class="gender-list" value="Other">Other</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Date of Birth:</h5>
                    <input class="form-control" type="date" name="student[dob]" min="1990-01-02" max="2005-12-31" required>
                </div>
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Father's Name</h5>
                    <input class="form-control" type="text" name="student[fatherName]" required>
                </div>
                <div class="col-md-4">
                    <h5>E-Mail ID</h5>
                    <input class="form-control" type="email" name="student[mailId]" placeholder="abc@xyz.com" required>
                </div>
            </div>
            <h4>Address </h4>
            <div class="row">
                <div class="col-md-2">
                    <h5>State :<span style="color:red;"> *</span> </h5></div>
                <div class="col-md-4">
                    <select class="form-control" name="student[state]" required>
                        <optgroup label="Select Your State">
                            <option value="New Delhi" selected="">New Delhi</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Mandi">Mandi</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5>Town/Village :<span style="color:red;"> *</span> </h5></div>
                <div class="col-md-4">
                    <input class="form-control" name="student[town]" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5>House/Flat No :<span style="color:red;">*</span></h5></div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[houseNo]" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5>Street :<span style="color:red;">*</span> </h5></div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[street]" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5>Pin Code :<span style="color:red;">*</span></h5></div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="student[pinCode]" required>
                </div>
            </div>
            <div class="container">
  <div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">Enter Educational Details</div>
<div class="panel-body">
<!-- Table -->
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <td>School Name</td>
      <td>Type</td>
      <td>Board</td>
      <td>Stream</td>
      <td>Year of Passing</td>
      <td>Marks/CGPA Obt</td>
      <td>Max.Marks/CGPA</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input class="form-control" type="text" name="student[edu10Name]" required ></td>
      <td><input class="form-control" type="text" name="student[edu10Type]" value="10th" disabled></td>
      <td><input class="form-control" type="text" name="student[edu10Board]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[edu10Stream]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[edu10Year]" minlength="4" maxlength="4" required ></td>
      <td><input class="form-control" id="edu10CgpaObt" step="0.01" type="number" name="student[edu10CgpaObt]" min="0"  required ></td>
      <td><input class="form-control" id="edu10CgpaMax" step="0.01" type="number" name="student[edu10CgpaMax]" min="0" required ></td>
    </tr>
    <tr>
      <td><input class="form-control" type="text" name="student[edu12Name]" required ></td>
      <td><input class="form-control" type="text" name="student[edu12Type]" value="+2 or equivalent" disabled></td>
      <td><input class="form-control" type="text" name="student[edu12Board]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[edu12Stream]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[edu12Year]" minlength="4" maxlength="4" required ></td>
      <td><input class="form-control" id="edu12CgpaObt" step="0.01" type="number" name="student[edu12CgpaObt]" required min="0" max="1000"></td>
      <td><input class="form-control" id="edu12CgpaMax" step="0.01" type="number" name="student[edu12CgpaMax]" required min="0" max="1000"></td>
    </tr>
    <tr>
      <td><input class="form-control" type="text" name="student[eduGradName]" required ></td>
            <td><input class="form-control" type="text" name="student[eduGradType]" value="Graduation" disabled></td>
      <td><input class="form-control" type="text" name="student[eduGradBoard]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[eduGradStream]" value="" required ></td>
      <td><input class="form-control" type="text" name="student[eduGradYear]" minlength="4" maxlength="4" required ></td>
      <td><input class="form-control" id="eduGradCgpaObt" step="0.01" name="student[eduGradCgpaObt]" type="number" min="0" max="1000" required ></td>
      <td><input class="form-control" id="eduGradCgpaMax" step="0.01" name="student[eduGradCgpaMax]" type="number" min="0" max="1000" required ></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

    <div class="upload">
            <div class="row">
    <div class="col-md-6">
        <p><span style="color:red;">*</span>Upload single **PDF** document consisting of :</p>
        <ul>
            <li>Resume (CV)</li>
            <li>10th Certificate</li>
            <li>+2 Certificate</li>
            <li>College Semester Grade Cards</li>
            <li>Other (Certified Skills)</li>
        </ul>
        <input type="file" class="uploadbutton" name="doc" value="" required>
    </div>
</div>
    </div>
    <div class="row">
        <div style="margin-bottom:10px;" class="col-md-12">
          <h5>Enter Technical Skills / Certification Skills <span style="color:red;">*</span></h5>
            <textarea class="skillTag" name="student[skillTag]" rows="8" cols="80" required></textarea>
        </div>
        <div style="margin-bottom:10px;" class="col-md-6">
          <h5>Enter Github Link </h5>
            <input class="form-control" type="text" name="student[gitHub]" >
        </div>
    </div>
            <div class="row">
                <div class="col-md-12 lower">
                    <button class="btn btn-primary" type="submit">Save </button>
                </div>
            </div>
        </form>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.caret.min.js"></script>
    <script src="/assets/js/jquery.tag-editor.js"></script>
    <script type="text/javascript">

    $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
      if(e.which == 13) {
        e.preventDefault();
        return false;
      }
    });
    $('.skillTag').tagEditor({
        delimiter: ', ', /* space and comma */
        placeholder: 'e.g.,C++,Android etc'
    });
    $('.gender-list').on('change', function() {
        $('.gender-list').not(this).prop('checked', false);  
    });
    
    
    </script>
</body>

</html>
